.checkbox{
  /*
  padding-top: 0px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 22px; */
}