<node-header></node-header>
<div>
  <section class="product-single theme3 pt-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="position-relative">
            <span class="badge badge-danger top-right">A vendre</span>
          </div>
          <div class="product-sync-init mb-20">
            <div class="single-product">
              <div class="product-thumb">
                <img width="650" [src]="prefixUrlImage + tableau?.nom_image" alt="product-thumb">
              </div>
            </div>

            <!-- single-product end -->
          </div>


        </div>
        <div class="col-lg-6 mt-5 mt-md-0">
          <div class="single-product-info">
            <div class="single-product-head">

              <h2 class="title mb-20">nom : {{tableau?.nom}}</h2>
              <span class="product-price mr-20">{{tableau?.nom}}</span>

              <!-- <div class="star-content mb-20">
                                <span class="star-on"><i class="ion-ios-star"></i> </span>
                                <span class="star-on"><i class="ion-ios-star"></i> </span>
                                <span class="star-on"><i class="ion-ios-star"></i> </span>
                                <span class="star-on"><i class="ion-ios-star"></i> </span>
                                <span class="star-on"><i class="ion-ios-star"></i> </span>

                            </div> -->
            </div>
            <div class="product-body mb-40">
              <div class="d-flex align-items-center mb-30">
                <!-- <h6 class="product-price mr-20"><del class="del">{{ tableau?.prix }} €</del> -->
                <span class="product-price mr-20" *ngIf="isAdmin">{{ tableau?.prix}} €</span>
                <!-- </h6> -->
                <!-- <span class="badge position-static bg-dark rounded-0">Save 10%</span> -->
              </div>
              <p>Description : {{tableau?.description}} </p>
              <p>Dimension : {{tableau?.dimension}} </p>
              <p>Categorie : {{categorie}} </p>

            </div>
            <div>
              <!-- <button class="pro-btn " [routerLink]="[ '/edit-tableaux',tableau.id] " title="Editer "><i
                  class="ion-android-create "></i></button> -->
              <button class="pro-btn " *ngIf="isAdmin " [routerLink]="[ '/edit-tableaux',tableau.id] "
                title="Editer "><i class="ion-android-create "></i></button>
              <a [routerLink]="['/show-tableau', tableau.id]" routerLinkActive="router-link-active">
                <span data-placement="bottom " title="Agrandir" class="icon-magnifier "></span>
              </a>

            </div>

            <div class="product-footer">
              <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">
                <div>
                  <button class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5" data-toggle="modal"
                    [attr.data-target]="'#add-to-cart'">
                    <span class="mr-2"><i class="ion-android-add"></i></span>
                    Add to cart
                  </button>
                </div>
              </div>

              <div class="pro-social-links mt-10">
                <ul class="d-flex align-items-center">
                  <li class="share">Share</li>
                  <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                  <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                  <li><a href="#"><i class="ion-social-google"></i></a></li>
                  <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>