<!-- <div class="tab-content container" id="pills-tabContent" *ngIf="isAdmin"> -->
<div class="tab-content container" id="pills-tabContent">

  <!-- paginate -->
  <!-- <nav aria-label="Page navigation ecommerce" *ngIf="ispaginate && isAdmin">
        <ul class=" pagination ">
            <li class="page-item " (click)="prevPage() ">
                <a class="page-link " href="# " aria-label="Previous ">
                    <span aria-hidden="true ">&laquo;</span>
                </a>
            </li>
            <li (click)="changePage(page) " [ngClass]="{ 'active': page==currentPage } " class="page-item " *ngFor="let page of pages ">
                <a class="page-link " href="# ">{{ page + 1 }}</a>
            </li>
            <li class="page-item " (click)="nextPage() ">
                <a class="page-link " href="# " aria-label="Next ">
                    <span aria-hidden="true ">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->

  <!-- header start -->
  <div class="tab-content container " id="pills-tabContent ">
    <div class="tab-pane fade show active " id="pills-home " role="tabpanel " aria-labelledby="pills-home-tab ">
      <div class="row grid-view theme1 ">
        <div class="col-sm-6 col-md-4 mb-30 " *ngFor="let tableau of tableaux ">
          <!-- product-list Begin -->
          <div *ngIf="(tableau.visible == 1)">
            <div class="card product-card ">
              <div class="card-body ">
                <div class="product-thumbnail position-relative ">
                  <span *ngIf="isAdmin && (tableau.a_vendre == 1)" class="badge badge-success top-right ">A
                    vendre</span>
                  <span *ngIf="isAdmin && (tableau.a_vendre == 0)" class="badge badge-danger top-right ">Vendu</span>
                  <a [routerLink]="[ '/single-tableau',tableau.id] ">
                    <img class="first-img " width="460 " height="300 " [src]="prefixUrlImage + tableau.nom_image "
                      alt="thumbnail ">
                  </a>
                  <!-- product links -->
                  <ul class="product-links d-flex">

                    <li>
                      <a [routerLink]="['/single-tableau', tableau.id]" routerLinkActive="router-link-active">
                        <span data-placement="bottom " title="Détail" class="icon-loop"></span>
                      </a>
                      <a [routerLink]="['/show-tableau', tableau.id]" routerLinkActive="router-link-active">
                        <span data-placement="bottom " title="Agrandir" class="icon-magnifier "></span>
                      </a>
                    </li>
                  </ul>
                  <!-- product links end-->
                </div>
                <div class="product-desc py-0 ">
                  <h3 class="title ">{{tableau.nom}}</h3>
                  <div class="d-flex align-items-center justify-content-between ">
                    <h6 class="product-price" *ngIf="isAdmin"> {{tableau.prix}} € </h6>
                    <button class="pro-btn" *ngIf="isAdmin" (click)="addToCart(tableau)" data-toggle="modal"
                      title="Acheter " [attr.data-target]=" '#add-to-cart-'+ tableau.id"><i
                        class="icon-basket "></i></button>
                    <button class="pro-btn" *ngIf="isAdmin" [routerLink]="[ '/edit-tableaux',tableau.id] "
                      title="Editer "><i class="ion-android-create "></i></button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- product-list End -->
        </div>
      </div>
    </div>
  </div>


  <!-- <app-modal-quick-view [products]="products "></app-modal-quick-view>
<app-modal-add-to-cart [products]="products "></app-modal-add-to-cart> -->