<node-header></node-header>


<div class="container">

  <!-- ligne 1 -->
  <div class="row">
    <div class="col-8 ">
      <img [src]="refApiImages + '/01.jpg'" class="box-images">
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        <div [innerHTML]="texte1"></div>
      </div>
    </div>
  </div>

  <!-- ligne 2 -->
  <div class="row">
    <div class="col-4">
      <div class="test-dark texte-home">
        <div [innerHTML]="texte2"></div>
      </div>
    </div>
    <div class="col-8 ">
      <img [src]="refApiImages + '/02.jpg'" class="box-images">
    </div>
  </div>

  <!-- ligne 3 -->
  <div class="row">
    <div class="col-8 ">
      <img [src]="refApiImages + '/03.jpg'" class="box-images">
    </div>
    <div class="col-4">
      <div class="test-dark texte-home">
        <div [innerHTML]="texte3"></div>
      </div>
    </div>
  </div>



</div>